<!DOCTYPE html>
<html>
<head>
  <title><%= Rails.application.config.dormouse.cms_name %></title>
  <style type="text/css" media="screen">

body {
  margin: 50px;
}

#menu {
  width: 250px;
  position: fixed;
  top:  50px;
  left: 50px;
}

#content {
  margin-left: 250px;
}

#content #actions {
  width: 250px;
  position: fixed;
  top:   50px;
  right: 50px;
}

  </style>
</head>
<body>

<ul id="menu">
  <% main_menu_items do |manifest, url, active, first, last| %>
    <%= content_tag :li, :class => classes(:active => active, :first => first, :last => last) do %>
      <%= link_to manifest.names.human(:short => true, :plural => true), url %>
    <% end %>
  <% end %>
</ul>

<div id="content">
  <%= yield %>
</div>

</body>
</html>
