<div class="block">
  <h3>Filters</h3>
  <div class="filters">

    <div class="letters">
    <% letters = ('A'..'Z').to_a + ('0'..'9').to_a + ['$']
       letters.each do |letter| %>
      <%= link_to letter, "?l=#{letter}" %>
    <% end %>
    </div>

    <div class="presets">

    </div>

  </div>
</div>