<ul id="tabs">
  <% unless @object.new_record? %>
    <% @manifest.ownees.each do |name| prop = @manifest[name] %>
    <li><%= link_to prop.names.human(:short => true, :plural => true), prop.urls.index(@object) %></li>
    <% end %>
  <% end %>
</ul>

<%= form_for @object, :url => save_url do |f| %>

  <%#= f.error_messages %>

  <%=raw @manifest.widgets.render(self, @object, :form => f) %>

  <div id="actions">
    <%= f.submit %>
  </div>

<% end %>